@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif; }

.headerContainer .mobileVersion {
  display: none; }

@media (min-width: 1000px) {
  .headerContainer .logoMenu {
    display: none; } }

.headerContainer .desktop {
  width: 100vw;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
  background-color: white;
  position: fixed;
  z-index: +1;
  top: 0; }
  .headerContainer .desktop .mainMenu ul {
    display: flex;
    gap: 20px;
    list-style: none; }
    .headerContainer .desktop .mainMenu ul li a {
      text-decoration: none;
      color: black; }
      .headerContainer .desktop .mainMenu ul li a:hover {
        text-decoration: underline; }
  .headerContainer .desktop .section1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 40px; }
  .headerContainer .desktop .section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px; }
    .headerContainer .desktop .section2 .search {
      display: flex;
      align-items: center;
      justify-content: flex-end; }
      .headerContainer .desktop .section2 .search .login {
        justify-content: flex-end;
        margin-right: px; }
      .headerContainer .desktop .section2 .search input {
        border: none; }

.headerContainer .login a .user {
  background-image: url("../assets/index/PhotoRoom-20221008_083003.png");
  background-size: cover;
  width: 60px;
  height: 60px;
  border: 2px solid black;
  border-radius: 50%; }

.headerContainer .login a .logoLogin {
  background-image: url("../assets/index/Logo Xbox 2.svg");
  background-size: contain;
  width: 26px;
  height: 26px;
  position: relative;
  left: 40px;
  top: -8px;
  border-radius: 50%; }

.mainContainer {
  margin: 30px 80px 0 80px;
  padding: 0; }
  .mainContainer .menu {
    display: none; }
  .mainContainer .welcomeInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0; }
    .mainContainer .welcomeInfo .right {
      width: 60%;
      height: 40vw;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .mainContainer .welcomeInfo .right img {
        width: 100%; }
    .mainContainer .welcomeInfo .left {
      width: 40%;
      margin-top: 50px; }
      .mainContainer .welcomeInfo .left h1 {
        font-size: 64px;
        color: #434343; }
      .mainContainer .welcomeInfo .left h3 {
        font-size: 16px;
        font-weight: 400;
        color: #a6a6a6;
        width: 70%; }
        .mainContainer .welcomeInfo .left h3 b {
          font-size: 16px;
          font-weight: 700;
          color: black; }
      .mainContainer .welcomeInfo .left .boton-x {
        background-color: #107C10;
        color: white;
        font-weight: 700;
        margin-top: 11px;
        width: 235px;
        height: 68px;
        text-transform: uppercase;
        border: none; }
        .mainContainer .welcomeInfo .left .boton-x:hover {
          background-color: #035903;
          transition: all 0.2s; }

.slideshow-container {
  width: 100%;
  height: 50vw;
  position: relative;
  margin: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center; }

.mySlides {
  display: none; }

.fade {
  animation-name: fade;
  animation-duration: 1.5s; }

@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

.games {
  margin-top: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(6, 200px);
  margin-bottom: 50px;
  gap: 18px; }
  .games .cajaC1 {
    grid-row: 1/3;
    overflow: hidden; }
    .games .cajaC1 .imagen {
      background-image: url("../assets/index/Battlefield.svg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      transition: transform 0.2s;
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      padding: 30px; }
      .games .cajaC1 .imagen:hover {
        transform: scale(1.05); }
  .games .cajaC2 {
    overflow: hidden; }
    .games .cajaC2 .imagen {
      background-image: url("../assets/index/Forza 5.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      transition: transform 0.2s; }
  .games .cajaC3 {
    overflow: hidden; }
    .games .cajaC3 .imagen {
      background-image: url("../assets/index/Fifa 23.svg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      transition: transform 0.2s; }
  .games .cajaC4 {
    grid-column: 1/3;
    grid-row: 3/5;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden; }
    .games .cajaC4 video {
      display: block;
      width: 100%; }
    .games .cajaC4 a {
      position: absolute;
      top: 0%;
      right: 0; }
      .games .cajaC4 a img {
        width: 300px; }
  .games .cajaC5 {
    grid-row: 5/7;
    display: flex;
    overflow: hidden; }
    .games .cajaC5 .left {
      width: 50%;
      background-color: #107C10;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 10px;
      gap: 20px; }
      .games .cajaC5 .left h1 {
        font-size: 28px;
        color: white; }
      .games .cajaC5 .left p {
        color: white; }
      .games .cajaC5 .left a {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 700;
        display: flex;
        transition: transform 1s; }
        .games .cajaC5 .left a:hover {
          text-decoration: underline;
          color: #2ce92c;
          transform: scale(1.05); }
    .games .cajaC5 .right {
      width: 50%;
      overflow: hidden; }
      .games .cajaC5 .right .image {
        width: 100%;
        height: 100%;
        background-image: url("../assets/index/COD MW II.jpg");
        background-size: cover;
        background-position: center;
        transition: transform .2s; }
        .games .cajaC5 .right .image:hover {
          transform: scale(1.1); }
  .games .cajaC6 {
    grid-row: 5/7; }

.followUs {
  width: 100%;
  height: 100px;
  /* background-color: rgba(227, 227, 227, 0.524); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  gap: 20px; }
  .followUs a img {
    width: 40px;
    height: 40px;
    margin: 10px;
    transition: transform .5s; }
    .followUs a img:hover {
      transform: scale(1.1); }
  .followUs h1 {
    color: #393939;
    font-size: 20px; }

.footer {
  width: 100%;
  height: 200px;
  background-color: #107C10;
  display: flex; }
  .footer .left {
    display: flex;
    width: 50%;
    height: 100%; }
    .footer .left .left-side {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      width: 50%;
      height: 100%;
      gap: 5px;
      padding-left: 50px; }
      .footer .left .left-side img {
        width: 150px; }
    .footer .left .right-side {
      display: flex;
      align-items: flex-end;
      margin-bottom: 20px; }
      .footer .left .right-side a {
        text-decoration: none;
        color: black;
        display: flex;
        gap: 10px; }
  .footer .right {
    display: flex;
    width: 50%; }
    .footer .right p {
      text-transform: uppercase;
      font-weight: 700;
      color: white; }
    .footer .right .left-side {
      width: 50%;
      margin-left: 50px;
      display: flex;
      flex-direction: column;
      align-items: left;
      justify-content: center;
      gap: 20px; }
      .footer .right .left-side ul {
        text-decoration: none;
        list-style: none; }
        .footer .right .left-side ul li {
          padding-bottom: 5px;
          transition: transform 0.5s;
          width: 50%; }
          .footer .right .left-side ul li:hover {
            transform: scale(1.1); }
          .footer .right .left-side ul li a {
            text-decoration: none;
            color: white; }
    .footer .right .right-side {
      width: 50%;
      margin-left: 50px;
      display: flex;
      flex-direction: column;
      align-items: left;
      justify-content: center;
      gap: 20px; }
      .footer .right .right-side ul {
        text-decoration: none;
        list-style: none; }
        .footer .right .right-side ul li {
          padding-bottom: 5px;
          transition: transform 0.5s;
          width: 50%; }
          .footer .right .right-side ul li:hover {
            transform: scale(1.1); }
          .footer .right .right-side ul li a {
            text-decoration: none;
            color: white; }

.mainGames {
  width: 100%;
  margin-top: 80px; }
  .mainGames .bannerPrincipal {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url("../assets/juegos/banner-fortnite.jpg");
    background-size: cover;
    background-position: 0 0 -10px 0;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 50px;
    overflow: hidden; }
    .mainGames .bannerPrincipal img {
      width: 50%;
      -webkit-animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) both;
      animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) both; }
    .mainGames .bannerPrincipal .info {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      text-align: justify;
      gap: 20px;
      width: 50%;
      height: 50%;
      color: white;
      text-shadow: black 0.1em 0.1em 0.2em;
      -webkit-animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) both;
      animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) both; }
      .mainGames .bannerPrincipal .info h1 {
        font-weight: 400;
        font-size: 40px; }
      .mainGames .bannerPrincipal .info h2 {
        font-weight: 400;
        font-size: 20px; }
      .mainGames .bannerPrincipal .info .botonJuegos {
        background-color: #107C10;
        color: white;
        font-weight: 700;
        margin-top: 11px;
        width: 235px;
        height: 68px;
        text-transform: uppercase;
        border: none;
        transition: all 0.5s; }
        .mainGames .bannerPrincipal .info .botonJuegos:hover {
          background-color: #035903;
          cursor: pointer;
          box-shadow: 1px 0px 10px 2px rgba(0, 0, 0, 0.75); }
  .mainGames .nuevosLanzamientos {
    width: 100%;
    height: auto;
    padding: 60px 20px 20px 20px;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)), url("../assets/juegos/background-games.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px; }
    .mainGames .nuevosLanzamientos .caption {
      color: white;
      display: flex;
      flex-direction: column;
      gap: 10px; }
      .mainGames .nuevosLanzamientos .caption h1 {
        font-weight: 400; }
      .mainGames .nuevosLanzamientos .caption h2 {
        font-weight: 400;
        font-size: 20px; }
    .mainGames .nuevosLanzamientos .gamesContainer {
      width: 100%;
      padding: 20px;
      gap: 20px;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap; }
      .mainGames .nuevosLanzamientos .gamesContainer .gameCard {
        width: 200px;
        height: 250px;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
        text-decoration: none; }
        .mainGames .nuevosLanzamientos .gamesContainer .gameCard img {
          border-radius: 10px;
          height: 200px;
          object-fit: cover;
          transition: ease 0.2s; }
          .mainGames .nuevosLanzamientos .gamesContainer .gameCard img:hover {
            transform: scale(1.04);
            box-shadow: 1px 0px 10px 2px rgba(255, 255, 255, 0.75); }
        .mainGames .nuevosLanzamientos .gamesContainer .gameCard h2 {
          color: white;
          font-size: 12px;
          text-decoration: none; }

@-webkit-keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }

@keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }

.mainGames .slider {
  width: 100%;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(black, rgba(0, 0, 0, 0)), #107C10;
  overflow: hidden; }

.mainGames h1 {
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
  font-weight: 400; }

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  z-index: 0; }

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 600px;
  height: auto;
  border-radius: 30px;
  position: relative;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
  filter: blur(4px); }
  .swiper-slide img {
    display: block;
    width: 100%;
    border-radius: 30px; }
  .swiper-slide .leyenda {
    position: absolute;
    left: 20px;
    bottom: 15px;
    display: flex;
    flex-direction: column;
    gap: 8px; }
    .swiper-slide .leyenda .gp-img {
      background-image: url("../assets/juegos/Carousel/gamepass-logo.png");
      background-size: cover;
      width: 90px;
      height: 50px; }
    .swiper-slide .leyenda h1 {
      color: white;
      text-shadow: black 0.1em 0.1em 0.2em;
      font-weight: 400;
      font-size: 30px; }
    .swiper-slide .leyenda h2 {
      color: white;
      text-shadow: black 0.1em 0.1em 0.2em;
      font-weight: 400;
      font-size: 12px; }
    .swiper-slide .leyenda h3 {
      color: white;
      text-shadow: black 0.1em 0.1em 0.2em;
      font-weight: 400;
      font-size: 12px; }

.swiper-slide-active {
  filter: blur(0px); }
  .swiper-slide-active .game img {
    filter: brightness(0.7); }

.swiper-slide-shadow-left {
  border-radius: 30px; }

.swiper-slide-shadow-right {
  border-radius: 30px; }

.followUsGames {
  width: 100%;
  height: 100px;
  background-color: #107C10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  gap: 20px; }
  .followUsGames a img {
    width: 40px;
    height: 40px;
    margin: 10px;
    transition: transform .5s; }
    .followUsGames a img:hover {
      transform: scale(1.1); }
  .followUsGames h1 {
    color: #393939;
    font-size: 20px; }

.consolasContainer {
  width: 100%; }
  .consolasContainer p {
    width: 100%;
    font-size: 50px;
    text-align: center;
    margin-top: 100px;
    color: #107C10;
    font-weight: 400;
    margin-bottom: 100px; }
  .consolasContainer .consolas-bienvenida {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #E6E6E6;
    overflow-x: hidden; }
    .consolasContainer .consolas-bienvenida .banner-bienvenida img {
      width: 100%; }
    .consolasContainer .consolas-bienvenida .banner-bienvenida .caption {
      margin: 0;
      width: 100%;
      display: flex;
      background-color: #E6E6E6; }
      .consolasContainer .consolas-bienvenida .banner-bienvenida .caption .left {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 50%;
        gap: 10px; }
        .consolasContainer .consolas-bienvenida .banner-bienvenida .caption .left h1 {
          color: #107C10;
          font-weight: 400;
          font-size: 2em; }
        .consolasContainer .consolas-bienvenida .banner-bienvenida .caption .left h2 {
          padding: 10px 40px 0 40px;
          font-size: 1.5em;
          width: 80%;
          text-align: center; }
        .consolasContainer .consolas-bienvenida .banner-bienvenida .caption .left h3 {
          display: flex;
          gap: 20px;
          font-size: 1em;
          padding-bottom: 50px; }
          .consolasContainer .consolas-bienvenida .banner-bienvenida .caption .left h3 a {
            text-decoration: none;
            color: #035903; }
            .consolasContainer .consolas-bienvenida .banner-bienvenida .caption .left h3 a:hover {
              text-decoration: underline;
              color: #023b02;
              cursor: pointer; }
      .consolasContainer .consolas-bienvenida .banner-bienvenida .caption .right {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 50%;
        gap: 10px; }
        .consolasContainer .consolas-bienvenida .banner-bienvenida .caption .right h1 {
          color: #107C10;
          font-weight: 400;
          font-size: 2em; }
        .consolasContainer .consolas-bienvenida .banner-bienvenida .caption .right h2 {
          padding: 10px 40px 0 40px;
          font-size: 1.5em;
          width: 80%;
          text-align: center; }
        .consolasContainer .consolas-bienvenida .banner-bienvenida .caption .right h3 {
          display: flex;
          gap: 20px;
          font-size: 1em;
          padding-bottom: 50px; }
          .consolasContainer .consolas-bienvenida .banner-bienvenida .caption .right h3 a {
            text-decoration: none;
            color: #035903; }
            .consolasContainer .consolas-bienvenida .banner-bienvenida .caption .right h3 a:hover {
              text-decoration: underline;
              color: #023b02;
              cursor: pointer; }
  .consolasContainer .velocity-tec .velocity-img {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)), url("../assets/consolas/velocity.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; }
    .consolasContainer .velocity-tec .velocity-img .velocity-intro {
      margin-top: 100px;
      text-shadow: black 0.1em 0.1em 0.2em;
      color: white;
      font-weight: 400;
      font-size: 30px;
      -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
      animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both; }
    .consolasContainer .velocity-tec .velocity-img .caracteristicas {
      margin-bottom: 80px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around; }
      .consolasContainer .velocity-tec .velocity-img .caracteristicas div {
        display: flex;
        flex-direction: column; }
        .consolasContainer .velocity-tec .velocity-img .caracteristicas div h1 {
          margin-top: 100px;
          text-shadow: black 0.1em 0.1em 0.2em;
          color: white;
          font-weight: 700;
          font-size: 25px;
          -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
          animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both; }
          .consolasContainer .velocity-tec .velocity-img .caracteristicas div h1 span {
            font-size: 16px;
            font-weight: 400; }
        .consolasContainer .velocity-tec .velocity-img .caracteristicas div h3 {
          text-shadow: black 0.1em 0.1em 0.2em;
          color: white;
          font-weight: 400;
          font-size: 20px;
          -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
          animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both; }
      .consolasContainer .velocity-tec .velocity-img .caracteristicas .velocity {
        margin-top: 70px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
        animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both; }
        .consolasContainer .velocity-tec .velocity-img .caracteristicas .velocity img {
          width: 100px;
          height: 60px; }

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }
  .consolasContainer .juegos-4k {
    width: 100%; }
    .consolasContainer .juegos-4k .container-4k {
      width: 100%;
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url("../assets/consolas/starfield.jpg");
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      background-size: cover;
      gap: 50px; }
      .consolasContainer .juegos-4k .container-4k h1 {
        text-shadow: black 0.1em 0.1em 0.2em;
        color: white;
        font-weight: 400;
        font-size: 30px;
        margin-top: 100px; }
      .consolasContainer .juegos-4k .container-4k h2 {
        width: 50%;
        text-shadow: black 0.1em 0.1em 0.2em;
        color: white;
        font-weight: 400;
        font-size: 1.5vw;
        margin-bottom: 100px; }
      .consolasContainer .juegos-4k .container-4k .cardContainer {
        width: 80%;
        height: 100%;
        display: flex;
        gap: 5px; }
        .consolasContainer .juegos-4k .container-4k .cardContainer .card {
          width: 20%;
          height: 600px;
          overflow: hidden;
          border-radius: 20px; }
        .consolasContainer .juegos-4k .container-4k .cardContainer .card-dl {
          background-image: url("../assets/consolas/deathloop cover.jpg");
          background-size: cover;
          background-repeat: no-repeat;
          width: 100%;
          height: 100%;
          border-radius: 20px;
          overflow: hidden;
          display: flex;
          align-items: flex-end;
          justify-content: center; }
          .consolasContainer .juegos-4k .container-4k .cardContainer .card-dl:hover {
            transform: scale(1.1);
            transition: all 0.5s; }
          .consolasContainer .juegos-4k .container-4k .cardContainer .card-dl img {
            width: 60%;
            object-fit: cover;
            margin-bottom: 50px; }
        .consolasContainer .juegos-4k .container-4k .cardContainer .card-hol {
          background-image: url("../assets/consolas/high on life.jpg");
          background-size: cover;
          background-repeat: no-repeat;
          width: 100%;
          height: 100%;
          border-radius: 20px;
          overflow: hidden;
          display: flex;
          align-items: flex-end;
          justify-content: center; }
          .consolasContainer .juegos-4k .container-4k .cardContainer .card-hol:hover {
            transform: scale(1.1);
            transition: all 0.5s; }
          .consolasContainer .juegos-4k .container-4k .cardContainer .card-hol img {
            width: 60%;
            object-fit: cover;
            margin-bottom: 50px; }
        .consolasContainer .juegos-4k .container-4k .cardContainer .card-plaguetale {
          background-image: url("../assets/consolas/plaguetale.jpg");
          background-size: cover;
          background-repeat: no-repeat;
          width: 100%;
          height: 100%;
          border-radius: 20px;
          overflow: hidden;
          display: flex;
          align-items: flex-end;
          justify-content: center; }
          .consolasContainer .juegos-4k .container-4k .cardContainer .card-plaguetale:hover {
            transform: scale(1.1);
            transition: all 0.5s; }
          .consolasContainer .juegos-4k .container-4k .cardContainer .card-plaguetale img {
            width: 60%;
            object-fit: cover;
            margin-bottom: 50px; }
        .consolasContainer .juegos-4k .container-4k .cardContainer .card-redfall {
          background-image: url("../assets/consolas/redfall.jpg");
          background-size: cover;
          background-repeat: no-repeat;
          width: 100%;
          height: 100%;
          border-radius: 20px;
          overflow: hidden;
          display: flex;
          align-items: flex-end;
          justify-content: center; }
          .consolasContainer .juegos-4k .container-4k .cardContainer .card-redfall:hover {
            transform: scale(1.1);
            transition: all 0.5s; }
          .consolasContainer .juegos-4k .container-4k .cardContainer .card-redfall img {
            width: 60%;
            object-fit: cover;
            margin-bottom: 50px; }
        .consolasContainer .juegos-4k .container-4k .cardContainer .card-starfield {
          background-image: url("../assets/consolas/starfield.jpg");
          background-size: cover;
          background-repeat: no-repeat;
          width: 100%;
          height: 100%;
          border-radius: 20px;
          overflow: hidden;
          display: flex;
          align-items: flex-end;
          justify-content: center; }
          .consolasContainer .juegos-4k .container-4k .cardContainer .card-starfield:hover {
            transform: scale(1.1);
            transition: all 0.5s; }
          .consolasContainer .juegos-4k .container-4k .cardContainer .card-starfield img {
            width: 60%;
            object-fit: cover;
            margin-bottom: 50px; }
  .consolasContainer .servicioTecnico {
    width: 100%;
    height: 200px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .consolasContainer .servicioTecnico .banner {
      width: 80%;
      height: 70%;
      background-color: #107C10;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 50px; }
      .consolasContainer .servicioTecnico .banner h1 {
        text-shadow: black 0.1em 0.1em 0.2em;
        color: white;
        font-weight: 400;
        font-size: 1.5vw; }
      .consolasContainer .servicioTecnico .banner a {
        text-shadow: black 0.1em 0.1em 0.2em;
        color: white;
        font-weight: 700;
        font-size: 1vw;
        text-decoration: none; }
        .consolasContainer .servicioTecnico .banner a:hover {
          color: #E6E6E6;
          transform: scale(1.1);
          transition: all 0.5s; }

.mainContainer-comunidad .banner .imagen {
  padding: 40px;
  width: 100%;
  height: 700px;
  background-image: url("../assets/comunidad/banner.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center; }
  .mainContainer-comunidad .banner .imagen h1 {
    text-shadow: black 0.1em 0.1em 0.2em;
    color: white;
    font-weight: 400;
    font-size: 50px; }
  .mainContainer-comunidad .banner .imagen input {
    width: 70vw;
    height: 50px;
    font-size: 20px;
    border-radius: 5px; }

.mainContainer-comunidad .contacto {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .mainContainer-comunidad .contacto .formulario {
    background-color: #107C10;
    border-radius: 20px;
    padding: 40px; }
  .mainContainer-comunidad .contacto h3 {
    width: 100%;
    font-size: 50px;
    text-align: center;
    color: #107C10;
    font-weight: 400; }
  .mainContainer-comunidad .contacto fieldset {
    width: 50vw;
    border: none; }
    .mainContainer-comunidad .contacto fieldset legend {
      text-align: center;
      color: #E6E6E6;
      text-transform: uppercase;
      font-size: 1rem;
      font-weight: 400;
      margin-bottom: 2rem; }
    .mainContainer-comunidad .contacto fieldset .contenedor-campos {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto auto 20rem;
      column-gap: 2rem; }
      .mainContainer-comunidad .contacto fieldset .contenedor-campos .campo:nth-child(3) {
        grid-column: 1 / 3; }
      .mainContainer-comunidad .contacto fieldset .contenedor-campos .campo:nth-child(1) {
        grid-column: 1; }
      .mainContainer-comunidad .contacto fieldset .contenedor-campos .campo:nth-child(2) {
        grid-column: 2; }
      .mainContainer-comunidad .contacto fieldset .contenedor-campos .campo:nth-child(4) {
        grid-column: 1 / 3; }
      .mainContainer-comunidad .contacto fieldset .contenedor-campos .campo {
        margin-bottom: 1rem; }
        .mainContainer-comunidad .contacto fieldset .contenedor-campos .campo label {
          color: white;
          font-weight: bold;
          margin-bottom: 0.5rem;
          display: block; }
        .mainContainer-comunidad .contacto fieldset .contenedor-campos .campo textarea {
          height: 15rem; }
      .mainContainer-comunidad .contacto fieldset .contenedor-campos .input-text {
        width: 100%;
        border: none;
        padding: 1.5rem 0;
        border-radius: .5rem;
        padding-inline-start: 1rem; }
    .mainContainer-comunidad .contacto fieldset .boton-form {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center; }
      .mainContainer-comunidad .contacto fieldset .boton-form .boton {
        background-color: #E6E6E6;
        color: #107C10;
        font-weight: 700;
        margin-top: 11px;
        width: 235px;
        height: 68px;
        text-transform: uppercase;
        border: none;
        border-radius: 10px; }

.mainContainer-comunidad .explorar {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, 200px);
  padding: 100px;
  gap: 20px; }
  .mainContainer-comunidad .explorar a {
    transition: all 1s;
    text-decoration: none;
    color: black; }
    .mainContainer-comunidad .explorar a:hover {
      box-shadow: 0px 0px 39px -10px rgba(0, 0, 0, 0.95); }
  .mainContainer-comunidad .explorar .caja1 {
    grid-row: 1/3;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0px 0px 39px -10px rgba(0, 0, 0, 0.5); }
    .mainContainer-comunidad .explorar .caja1 h1 {
      width: 100%;
      height: 25%;
      padding: 20px;
      font-weight: 400;
      display: flex;
      justify-content: center;
      align-items: center; }
    .mainContainer-comunidad .explorar .caja1 .imagen {
      background-image: url("../assets/comunidad/caja1.jpg");
      background-size: cover;
      width: 100%;
      height: 75%; }
  .mainContainer-comunidad .explorar .caja2 {
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0px 0px 39px -10px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-evenly; }
    .mainContainer-comunidad .explorar .caja2 h1 {
      width: 60%;
      padding: 20px;
      font-weight: 400;
      font-size: 16px;
      display: flex;
      justify-content: center;
      align-items: center; }
    .mainContainer-comunidad .explorar .caja2 .imagen {
      background-image: url("../assets/comunidad/caja2.jpg");
      background-size: cover;
      background-position: center;
      width: 40%;
      height: 100%; }
  .mainContainer-comunidad .explorar .caja3 {
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0px 0px 39px -10px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-evenly; }
    .mainContainer-comunidad .explorar .caja3 h1 {
      width: 60%;
      padding: 20px;
      font-weight: 400;
      font-size: 16px;
      display: flex;
      align-items: center; }
    .mainContainer-comunidad .explorar .caja3 .imagen {
      background-image: url("../assets/comunidad/caja3.jpg");
      background-size: cover;
      background-position: center;
      width: 40%;
      height: 100%; }

.mainContainer-accesorios .banner-principal {
  margin-top: 80px; }
  .mainContainer-accesorios .banner-principal .description {
    width: 100%;
    height: auto;
    background-color: #107C10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .mainContainer-accesorios .banner-principal .description h1 {
      text-shadow: black 0.1em 0.1em 0.2em;
      color: white;
      font-weight: 400;
      font-size: 50px; }
    .mainContainer-accesorios .banner-principal .description h2 {
      text-shadow: black 0.1em 0.1em 0.2em;
      color: white;
      font-weight: 400;
      font-size: 20px; }
  .mainContainer-accesorios .banner-principal .imagen {
    width: 100%;
    height: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #107C10; }
    .mainContainer-accesorios .banner-principal .imagen .img {
      width: 70%;
      height: 100%;
      background-image: url("../assets/accesorios/banner.webp");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center; }

.mainContainer-accesorios .accesorios {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .mainContainer-accesorios .accesorios .mas-vendidos {
    margin-top: 30px;
    width: 100%;
    font-size: 30px;
    text-align: center;
    color: #107C10;
    font-weight: 400;
    text-shadow: black 0.05em 0.05em 0.1em; }
  .mainContainer-accesorios .accesorios .card-container {
    width: 100%;
    padding: 40px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
    .mainContainer-accesorios .accesorios .card-container .card {
      width: 300px;
      height: 400px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
      border-radius: 20px;
      box-shadow: 0px 0px 39px -10px rgba(0, 0, 0, 0.5); }
      .mainContainer-accesorios .accesorios .card-container .card h1 {
        text-align: center; }
      .mainContainer-accesorios .accesorios .card-container .card h2 {
        color: #035903; }
      .mainContainer-accesorios .accesorios .card-container .card img {
        width: 100%; }
      .mainContainer-accesorios .accesorios .card-container .card a {
        display: flex;
        justify-self: center;
        align-items: center;
        gap: 8px;
        text-decoration: none;
        color: #107C10;
        font-weight: 700; }
        .mainContainer-accesorios .accesorios .card-container .card a img {
          width: 20px; }

.mainContainer-accesorios .banner-design {
  margin: 30px 0 30px 0;
  width: 70%;
  height: 30vw;
  border-radius: 20px;
  background-image: url("../assets/accesorios/designlab.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0px 0px 39px -10px rgba(0, 0, 0, 0.9);
  text-decoration: none; }
  .mainContainer-accesorios .banner-design .banner {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px; }
    .mainContainer-accesorios .banner-design .banner h1 {
      text-shadow: black 0.1em 0.1em 0.2em;
      color: white;
      font-weight: 700;
      font-size: 3vw; }
    .mainContainer-accesorios .banner-design .banner h2 {
      text-shadow: black 0.1em 0.1em 0.2em;
      color: white;
      font-weight: 400;
      font-size: 1.5vw; }

@media (max-width: 999px) {
  .headerContainer .desktop {
    display: none; }
  .headerContainer .mobileVersion label img {
    cursor: pointer;
    transition: all 0.5s; }
    .headerContainer .mobileVersion label img:hover {
      transform: scale(1.2); }
  .headerContainer .mobileVersion {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: fixed;
    z-index: +1;
    top: 0;
    background-color: white; }
    .headerContainer .mobileVersion .login {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 12px 12px 12px 0; }
    .headerContainer .mobileVersion .logoXbox {
      display: flex;
      justify-content: center;
      align-items: center; }
    .headerContainer .mobileVersion .checkbtn {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-left: 12px; }
    .headerContainer .mobileVersion .logoMenu img {
      width: 40px;
      height: 40px; }
  #check {
    display: none; } }

@media (max-width: 999px) {
  .footer {
    width: 100%;
    height: 280px; }
    .footer .right {
      flex-direction: column;
      gap: 20px;
      padding-top: 15px; }
      .footer .right p {
        font-size: 14px; }
      .footer .right a {
        font-size: 12px; }
      .footer .right .left-side {
        margin: 0;
        width: 100%;
        gap: 0;
        align-items: center; }
        .footer .right .left-side ul li {
          width: 100%;
          text-align: center; }
      .footer .right .right-side {
        margin: 0;
        width: 100%;
        gap: 0;
        align-items: center; }
        .footer .right .right-side ul li {
          width: 100%;
          text-align: center; }
    .footer .left {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .footer .left .left-side {
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 70%; }
      .footer .left .right-side {
        height: 30%; }
        .footer .left .right-side a {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          font-size: 12px;
          text-align: center; } }

@media (max-width: 999px) {
  .mainContainer {
    margin: 20px;
    display: flex;
    flex-direction: column;
    padding-top: 84px; }
  .headerContainer ul {
    background-color: #107C10;
    margin-top: 80px;
    width: 100%;
    height: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 50px;
    list-style: none;
    position: fixed;
    transition: all 0.5s;
    left: -100%; }
    .headerContainer ul li {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 200px;
      height: 50px;
      border: 3px solid white;
      border-radius: 40px;
      box-shadow: 6px 6px 30px 3px rgba(0, 0, 0, 0.75);
      transition: all 0.5s; }
      .headerContainer ul li:hover {
        background-color: #035903;
        transform: scale(1.1); }
      .headerContainer ul li a {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 40px;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: white;
        font-weight: 700;
        text-transform: uppercase; }
  #check:checked ~ ul {
    left: 0; }
  .mainContainer .welcomeInfo {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center; }
    .mainContainer .welcomeInfo .right {
      width: 100%;
      height: 50vw;
      display: flex;
      align-items: center;
      justify-content: center; }
      .mainContainer .welcomeInfo .right .welcomeImage {
        margin: 0; }
      .mainContainer .welcomeInfo .right .slideshow-container {
        width: 100%; }
        .mainContainer .welcomeInfo .right .slideshow-container img {
          width: 100%; }
    .mainContainer .welcomeInfo .left {
      width: 100%;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .mainContainer .welcomeInfo .left h1 {
        font-size: 50px;
        text-align: center;
        margin-top: 0; }
      .mainContainer .welcomeInfo .left h3 {
        text-align: center;
        font-size: 18px; }
  .mainContainer {
    margin: 0; }
    .mainContainer .games {
      padding: 5px;
      gap: 5px;
      margin-top: 20px;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(8, 200px);
      margin-bottom: 50px; }
      .mainContainer .games .cajaC1 {
        grid-row: 1/3;
        grid-column: 1/3;
        align-items: center;
        justify-content: center; }
        .mainContainer .games .cajaC1 .imagen {
          justify-content: center; }
      .mainContainer .games .cajaC2 {
        grid-column: 1/3;
        grid-row: 3/4; }
      .mainContainer .games .cajaC3 {
        grid-column: 1/3;
        grid-row: 4/5; }
      .mainContainer .games .cajaC4 {
        grid-column: 1/3;
        grid-row: 5/6;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center; }
        .mainContainer .games .cajaC4 a img {
          width: 150px; }
      .mainContainer .games .cajaC5 {
        grid-column: 1/3;
        grid-row: 6/7; }
        .mainContainer .games .cajaC5 .left h1 {
          font-size: 16px; }
        .mainContainer .games .cajaC5 .left p {
          font-size: 12px; }
        .mainContainer .games .cajaC5 .left a {
          font-size: 12px; }
          .mainContainer .games .cajaC5 .left a svg {
            width: 14px;
            height: 14px; }
      .mainContainer .games .cajaC6 {
        grid-column: 1/3;
        grid-row: 7/9; } }

@media (max-width: 999px) {
  .mainGames .bannerPrincipal {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)), url("../assets/juegos/banner-fortnite.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 50px;
    overflow: hidden; }
    .mainGames .bannerPrincipal .nuevosLanzamientos {
      background-size: contain; }
    .mainGames .bannerPrincipal .info h1 {
      font-weight: 400;
      font-size: 3vw;
      text-align: center; }
    .mainGames .bannerPrincipal .info h2 {
      font-size: 1.5vw;
      padding: 10px;
      font-weight: 400; } }

@media (max-width: 570px) {
  .mainGames .bannerPrincipal {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)), url("../assets/juegos/banner-fortnite.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 0; }
    .mainGames .bannerPrincipal img {
      width: 100%; }
  .mainGames .info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: justify;
    gap: 20px;
    width: 100%;
    height: 50%; }
    .mainGames .info h1 {
      width: 100vw;
      font-weight: 400;
      font-size: 8vw;
      text-align: center; }
    .mainGames .info h2 {
      font-size: 20px;
      padding: 10px;
      font-weight: 400; }
    .mainGames .info .botonJuegos {
      font-size: 12px;
      height: 50px;
      width: 150px; } }

@media (max-width: 650px) {
  .swiper-slide {
    width: 500px; }
    .swiper-slide .leyenda {
      gap: 0; }
      .swiper-slide .leyenda h1 {
        font-size: 20px; }
      .swiper-slide .leyenda h2 {
        font-size: 8px; }
      .swiper-slide .leyenda h3 {
        font-size: 8px; }
    .swiper-slide .gp-img {
      width: 70px;
      height: 40px; } }

@media (max-width: 515px) {
  .swiper-slide {
    width: 400px; }
    .swiper-slide .leyenda .gp-img {
      background-repeat: no-repeat;
      background-size: contain;
      width: 50px;
      border-radius: 0px; } }

@media (max-width: 450px) {
  .swiper-slide {
    width: 350px; } }

@media (max-width: 999px) {
  .consolasContainer .banner-bienvenida .caption h1 {
    text-align: center; }
  .consolasContainer .banner-bienvenida .caption h2 {
    display: none; }
  .consolasContainer .banner-bienvenida .caption h3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .velocity-tec .velocity-img .velocity-intro {
    text-align: center;
    margin-top: 0px; }
  .velocity-tec .velocity-img .caracteristicas {
    flex-direction: column;
    align-items: center;
    justify-content: start;
    align-items: flex-start; }
    .velocity-tec .velocity-img .caracteristicas div {
      width: 100%;
      padding: 0 50px 0 50px; }
      .velocity-tec .velocity-img .caracteristicas div img {
        width: 10%; }
    .velocity-tec .velocity-img .caracteristicas .cuatro-k h1 {
      margin-top: 50px !important; }
    .velocity-tec .velocity-img .caracteristicas .fotogramas {
      padding-left: 20%; }
    .velocity-tec .velocity-img .caracteristicas .ocho-k {
      padding-left: 40%; }
    .velocity-tec .velocity-img .caracteristicas .velocity {
      width: 100%;
      padding-left: 50%; }
      .velocity-tec .velocity-img .caracteristicas .velocity h3 {
        text-align: center; }
  .container-4k h1 {
    margin: 50px 0 50px 0 !important;
    font-size: 5vw !important; }
  .container-4k h2 {
    font-size: 2vw !important; }
  .cardContainer {
    width: 100% !important;
    gap: 40px !important;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
    .cardContainer .card {
      width: 200px !important;
      height: 400px !important; }
  .servicioTecnico .banner {
    width: 95% !important; } }

@media (max-width: 999px) {
  .contenedor-campos {
    display: flex !important;
    flex-direction: column; }
  .banner .imagen input {
    font-size: 12px !important; }
  .explorar {
    display: flex !important;
    flex-direction: column; }
    .explorar a {
      height: 300px; }
    .explorar .caja1 h1 {
      font-size: 16px; }
    .explorar .caja2 {
      flex-direction: column-reverse; }
      .explorar .caja2 .imagen {
        width: 100% !important; }
      .explorar .caja2 h1 {
        width: 100% !important;
        text-align: center !important; }
    .explorar .caja3 {
      flex-direction: column-reverse; }
      .explorar .caja3 .imagen {
        width: 100% !important; }
      .explorar .caja3 h1 {
        width: 100% !important;
        justify-content: center; } }

@media (max-width: 999px) and (max-width: 650px) {
  .explorar {
    padding: 10px !important; } }

@media (max-width: 500px) {
  .mainContainer-accesorios .banner-principal .description {
    gap: 10px; }
    .mainContainer-accesorios .banner-principal .description h1 {
      font-size: 40px;
      text-align: center; }
    .mainContainer-accesorios .banner-principal .description h2 {
      text-align: center; }
  .mainContainer-accesorios .banner-design {
    width: 90% !important; }
    .mainContainer-accesorios .banner-design .banner {
      padding: 10px; }
      .mainContainer-accesorios .banner-design .banner h1 {
        font-size: 4vw; }
      .mainContainer-accesorios .banner-design .banner h2 {
        font-size: 2vw; } }
