.consolasContainer {
    width: 100vw;

    p {
        width: 100vw;
        font-size: xxx-large;
        text-align: center;
        margin-top: 100px;
        color: $color-principal;
        font-weight: 400;
        margin-bottom: 100px;
    }

    .consolas-bienvenida {
        width: 100vw;
        display: flex;
        flex-direction: column;
        background-color: $gris-claro;
        overflow-x: hidden;


        .banner-bienvenida {

            img {
                width: 100%;
            }

            .caption {
                margin: 0;
                width: 100%;
                display: flex;
                background-color: $gris-claro;

                .left {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-start;
                    width: 50%;
                    gap: 10px;

                    h1 {
                        color: $color-principal;
                        font-weight: 400;
                        font-size: 2em;
                    }

                    h2 {
                        padding: 10px 40px 0 40px;
                        font-size: 1.5em;
                        width: 80%;
                        text-align: center;
                    }

                    h3 {
                        display: flex;
                        gap: 20px;
                        font-size: 1em;
                        padding-bottom: 50px;

                        a {
                            text-decoration: none;
                            color: $verde-oscuro;

                            &:hover {
                                text-decoration: underline;
                                color: $verde-seleccion;
                                cursor: pointer;
                            }
                        }
                    }
                }

                .right {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-start;
                    width: 50%;
                    gap: 10px;

                    h1 {
                        color: $color-principal;
                        font-weight: 400;
                        font-size: 2em;
                    }

                    h2 {
                        padding: 10px 40px 0 40px;
                        font-size: 1.5em;
                        width: 80%;
                        text-align: center;
                    }

                    h3 {
                        display: flex;
                        gap: 20px;
                        font-size: 1em;
                        padding-bottom: 50px;

                        a {
                            text-decoration: none;
                            color: $verde-oscuro;

                            &:hover {
                                text-decoration: underline;
                                color: $verde-seleccion;
                                cursor: pointer;
                            }
                        }

                    }
                }
            }
        }

    }

    .velocity-tec {
        .velocity-img {
            background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)), url('../assets/consolas/velocity.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            width: 100%;
            height: 900px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            .velocity-intro {
                margin-top: 100px;
                text-shadow: black 0.1em 0.1em 0.2em;
                color: white;
                font-weight: 400;
                font-size: 30px;
                -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
                animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
            }

            .caracteristicas {
                margin-bottom: 80px;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-around;

                div {
                    display: flex;
                    flex-direction: column;

                    h1 {
                        margin-top: 100px;
                        text-shadow: black 0.1em 0.1em 0.2em;
                        color: white;
                        font-weight: 700;
                        font-size: 25px;
                        -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
                        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;

                        span{
                            font-size: 16px;
                            font-weight: 400;
                        }
                    }

                    h3{
                        text-shadow: black 0.1em 0.1em 0.2em;
                        color: white;
                        font-weight: 400;
                        font-size: 20px;
                        -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
                        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
                    }
                }

                .velocity{
                    margin-top: 70px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
                        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;

                        img{
                            width: 100px;
                            height: 60px;
                        }
                }
            }




        }
    }

    @-webkit-keyframes text-focus-in {
        0% {
            -webkit-filter: blur(12px);
            filter: blur(12px);
            opacity: 0;
        }

        100% {
            -webkit-filter: blur(0px);
            filter: blur(0px);
            opacity: 1;
        }
    }

    @keyframes text-focus-in {
        0% {
            -webkit-filter: blur(12px);
            filter: blur(12px);
            opacity: 0;
        }

        100% {
            -webkit-filter: blur(0px);
            filter: blur(0px);
            opacity: 1;
        }
    }

.juegos-4k{
    width: 100%;

    .container-4k{
        width: 100%;
        // height: 900px;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url('../assets/consolas/starfield.jpg');
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-size: cover;
        gap: 50px;

        h1{
            text-shadow: black 0.1em 0.1em 0.2em;
                        color: white;
                        font-weight: 400;
                        font-size: 30px;
                        margin-top: 100px;
        }

        h2{
            width: 50%;
            text-shadow: black 0.1em 0.1em 0.2em;
                        color: white;
                        font-weight: 400;
                        font-size: 1.5vw;
                        margin-bottom: 100px;
        }

        .cardContainer{
            width: 80%;
            height: 100%;
            display: flex;
            gap: 5px;


            .card{
                width: 20%;
                height: 600px;
                overflow: hidden;
                border-radius: 20px;
            }

            .card-dl{
                background-image: url("../assets/consolas/deathloop\ cover.jpg");
                background-size: cover;
                background-repeat: no-repeat;
                width: 100%;
                height: 100%;
                border-radius: 20px;
                overflow: hidden;
                display: flex;
                align-items: flex-end;
                justify-content: center;

                &:hover{
                    transform: scale(1.1);
                    transition: all 0.5s;
                }

                img{
                    width: 60%;
                    object-fit: cover;
                    margin-bottom: 50px;
                }
            }

            .card-hol{
                background-image: url("../assets/consolas/high\ on\ life.jpg");
                background-size: cover;
                background-repeat: no-repeat;
                width: 100%;
                height: 100%;
                border-radius: 20px;
                overflow: hidden;
                display: flex;
                align-items: flex-end;
                justify-content: center;

                &:hover{
                    transform: scale(1.1);
                    transition: all 0.5s;
                }

                img{
                    width: 60%;
                    object-fit: cover;
                    margin-bottom: 50px;
                }
            }

            .card-plaguetale{
                background-image: url("../assets/consolas/plaguetale.jpg");
                background-size: cover;
                background-repeat: no-repeat;
                width: 100%;
                height: 100%;
                border-radius: 20px;
                overflow: hidden;
                display: flex;
                align-items: flex-end;
                justify-content: center;

                &:hover{
                    transform: scale(1.1);
                    transition: all 0.5s;
                }

                img{
                    width: 60%;
                    object-fit: cover;
                    margin-bottom: 50px;
                }
            }

            .card-redfall{
                background-image: url("../assets/consolas/redfall.jpg");
                background-size: cover;
                background-repeat: no-repeat;
                width: 100%;
                height: 100%;
                border-radius: 20px;
                overflow: hidden;
                display: flex;
                align-items: flex-end;
                justify-content: center;

                &:hover{
                    transform: scale(1.1);
                    transition: all 0.5s;
                }

                img{
                    width: 60%;
                    object-fit: cover;
                    margin-bottom: 50px;
                }
            }

            .card-starfield{
                background-image: url("../assets/consolas/starfield.jpg");
                background-size: cover;
                background-repeat: no-repeat;
                width: 100%;
                height: 100%;
                border-radius: 20px;
                overflow: hidden;
                display: flex;
                align-items: flex-end;
                justify-content: center;

                &:hover{
                    transform: scale(1.1);
                    transition: all 0.5s;
                }

                img{
                    width: 60%;
                    object-fit: cover;
                    margin-bottom: 50px;
                }
            }
        }
    }
}

.servicioTecnico{
    width: 100%;
    height: 200px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    .banner{
        width: 80%;
        height: 70%;
        background-color: $color-principal;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 50px;

        h1{
            text-shadow: black 0.1em 0.1em 0.2em;
            color: white;
            font-weight: 400;
            font-size: 1.5vw;
        }

        a{
            text-shadow: black 0.1em 0.1em 0.2em;
            color: white;
            font-weight: 700;
            font-size: 1vw;
            text-decoration: none;

            &:hover{
                color: $gris-claro;
                transform: scale(1.1);
                transition: all 0.5s;
            }
        }
    }
}
}

